
    <main></main>
    <!--<script src="/js/lib/matter.min.js"></script>
    <script src="/js/lib/matter-attractors.min.js"></script>-->
    <script src="/js/lib/lodash.min.js"></script>
    <script src="/js/grouper_core.js"></script>
    <script>
      async function start() { // await loadDB(); 
        db={{{ works }}};
        dba={{{ artists }}};
        groupsfieldname="{{ groupsfieldname }}";
        groups={{{ groups }}};
        groupsV(); 
      } 
        start();
        
    </script>
  </body>