<main id="splashscreen">
    <div id="shownwork"></div>
    <blockquote>‘{{lang.quote}}’</blockquote>
    </main>
<script src="/js/lib/lodash.min.js"></script>
<script src="/js/grouper_core.js"></script>
<script>
    async function start() { 
        const work={{{work}}}[0];
        const artist={{{artist}}};
        const assets="{{{assets}}}";

    const shownwork=document.querySelector("#shownwork");
    const url=`url("${assets}/full/${work.id}.webp`;
    bg.style.backgroundImage=url;
    let title=((lang=="tr") ? work.title_tr : (work.title_en==undefined) ? work.title_tr : work.title_en);
    shownwork.innerHTML=`<a href="/work/${work.id}"><h2>${title}</h2><p>${artist.name}</p></a>`;

    
  }
const bg=document.querySelector("#splashscreen");
  document.addEventListener('pointermove', (pos) => {
    let x = parseInt(pos.clientX / window.innerWidth * 100);
    let y = parseInt(pos.clientY / window.innerHeight * 100);
    let position=(50+(x-50)*.1)+"% "+(50+(y-50)*.1)+"%";
    
    bg.style.backgroundPosition=position;

});
  if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
    document.querySelector("#splashscreen").innerHTML="Unfortunately, this app does not support mobile devices. Please try again on a bigger screen."
    }
  else  start();

</script>