<main></main>

<script src="/js/lib/lodash.min.js"></script>
<script src="/js/grouper_core.js"></script>
<script>
  async function start() { 
  db={{{works}}}; 
  dba={{{artists}}};
  groupsfieldname="{{groupsfieldname}}"; 
  groups={{{groups}}}; 
  galleryV(); 
  }
  start();
</script>