:root {
  --bg: #efefef;
  --fill: #000;
  --text: #blue;
  --textsize: 1.5rem;
  --textlabel: 1.2rem;
  --tabletbg: rgb(239, 239, 239);
  --tabletbg70: rgb(239, 239, 239, 0.7);
  --tablettext: #blue;
  --lightyellow: rgba(255, 254, 197, 0.572);
  --dmbg: #000;
  --dmtext: #f0f0f0;
  --oneocolor:#9B111E;
  --oneocolorbright:#d50d21;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --bg_two: #373636;
  --main: calc(100vh - 8em);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* Safari 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* IE 10 and IE 11 
  */
  /* Standard syntax */
  /*touch-action: manipulation;
  */
  touch-action: pan-x pan-y;
  
}

:root {
  height: 100%;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSansDisplay"), url("font/NotoSansDisplay-VariableFont_wdth,wght.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "NotoMono";
  src: local("NotoSansMono"), url("font/NotoSansMono-VariableFont_wdth,wght.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Alegreya";
  src: local("Alegreya"), url("font/Alegreya-VariableFont_wght.ttf") format("opentype");
}

html,
body {
  /*cursor: url("cursor.svg"), auto;*/
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 12px;
  z-index: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "NotoSans", sans-serif;
}

body.darkmode {
  background-color: var(--dmbg);
  color: var(--dmtext);
  font-family: "NotoSans", sans-serif;
}

#mobileInterface {
  background-color: var(--tabletbg);
  color: var(--tablettext);
}

img {
  content-visibility: auto;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 6em;
  position:fixed;
  width:100vw;
  z-index: 9000;
}

#logo {
  mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2230 1288" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"><path d="M2029.2 1073.646c0 17.463-4.842 30.95-14.52 40.463-9.684 9.512-23.255 14.27-40.718 14.27-17.458 0-31.033-4.758-40.712-14.27-9.683-9.513-14.52-23-14.52-40.463v-65.142h33.24v64.134c0 18.804 7.442 28.204 22.33 28.204 14.775 0 22.162-9.4 22.162-28.204v-64.134h32.738v65.142Zm-20.283-152.308c-12.292 12.079-29.517 18.116-51.68 18.116-22.162 0-39.391-6.037-51.679-18.116-12.291-12.071-18.433-29.196-18.433-51.359v-82.687h42.196V868.7c0 23.87 9.446 35.804 28.341 35.804 18.755 0 28.134-11.933 28.134-35.804v-81.408h41.554v82.687c0 22.163-6.146 39.288-18.433 51.359Zm-243.713 15.133v-149.18h42.196v115.722h71.179v33.458h-113.375Zm1.754 130.796c0 11.642-2.829 22.104-8.479 31.396-5.654 9.291-13.433 16.562-23.338 21.825-9.904 5.262-21.07 7.891-33.495 7.891-12.421 0-23.588-2.629-33.492-7.891-9.904-5.263-17.688-12.534-23.338-21.825-5.654-9.292-8.479-19.754-8.479-31.396s2.825-22.104 8.48-31.396c5.65-9.292 13.433-16.562 23.337-21.825 9.904-5.262 21.07-7.892 33.492-7.892 12.425 0 23.591 2.63 33.495 7.892 9.905 5.263 17.684 12.533 23.338 21.825 5.65 9.292 8.48 19.754 8.48 31.396Zm-33.58 0c0-6.604-1.4-12.45-4.195-17.546-2.8-5.092-6.608-9.037-11.417-11.837-4.816-2.796-10.187-4.196-16.12-4.196-5.934 0-11.305 1.4-16.117 4.196-4.813 2.8-8.62 6.745-11.417 11.837-2.8 5.096-4.196 10.942-4.196 17.546 0 6.604 1.396 12.45 4.196 17.542 2.796 5.095 6.604 9.041 11.417 11.837 4.812 2.8 10.183 4.196 16.117 4.196 5.933 0 11.304-1.396 16.12-4.196 4.809-2.796 8.617-6.742 11.417-11.837 2.796-5.092 4.196-10.938 4.196-17.542Zm-13.157-231.384c-10.088-11.083-22.163-16.625-36.23-16.625-12.783 0-23.087 3.875-30.9 11.617-7.816 7.746-11.72 18.08-11.72 31.004 0 8.242 1.775 15.596 5.329 22.059 3.55 6.466 8.52 11.508 14.916 15.133 6.392 3.62 13.709 5.433 21.95 5.433 8.096 0 15.696-1.633 22.805-4.904v-40.917h37.291v61.805c-8.525 6.108-18.325 10.795-29.408 14.062-11.083 3.267-22.163 4.904-33.246 4.904-15.63 0-29.696-3.304-42.196-9.912-12.504-6.604-22.304-15.8-29.408-27.596-7.104-11.792-10.654-25.146-10.654-40.067 0-14.916 3.55-28.266 10.654-40.062 7.104-11.792 16.975-20.992 29.62-27.596 12.647-6.608 26.926-9.913 42.838-9.913 13.921 0 26.425 2.346 37.504 7.034 11.084 4.687 20.317 11.437 27.705 20.246l-26.85 24.295Zm-15.113-67.862c-23.958 3.366-37.867-8.004-55.696-5.496-3.9.546-13.079 2.133-16.766 5.55l-.084-31.617c3.684-3.416 8.504-5.012 12.404-5.562 18.017-2.53 31.925 8.841 55.696 5.5 4.459-.63 14.038-2.075 17.934-5.33l.087 31.505c-3.9 3.25-9.12 4.825-13.575 5.45Zm-131.613 133.712c-7.175 11.792-17.045 21.025-29.62 27.705-12.575 6.679-26.746 10.016-42.517 10.016-15.767 0-29.942-3.337-42.513-10.016-12.575-6.68-22.45-15.913-29.625-27.705-7.175-11.791-10.762-25.075-10.762-39.854 0-14.77 3.587-28.054 10.762-39.85 7.175-11.791 17.05-21.025 29.625-27.704 12.571-6.675 26.746-10.017 42.513-10.017 15.77 0 29.942 3.342 42.517 10.017 12.575 6.68 22.445 15.913 29.62 27.704 7.175 11.796 10.763 25.08 10.763 39.85 0 14.78-3.588 28.063-10.763 39.854Zm-31.858-39.854c0-8.379-1.78-15.8-5.33-22.266-3.55-6.463-8.382-11.471-14.49-15.025-6.11-3.55-12.93-5.33-20.46-5.33-7.528 0-14.35 1.78-20.457 5.33-6.109 3.554-10.942 8.562-14.492 15.025-3.55 6.466-5.325 13.887-5.325 22.266 0 8.388 1.775 15.809 5.325 22.271 3.55 6.467 8.383 11.475 14.492 15.025 6.108 3.554 12.929 5.33 20.458 5.33 7.53 0 14.35-1.776 20.458-5.33 6.109-3.55 10.942-8.558 14.492-15.025 3.55-6.462 5.33-13.883 5.33-22.27Zm-237.85 74.592v-149.18h42.196v115.722h71.179v33.458h-113.375Zm-34.392-172.2c-4.1 4.1-9.296 6.15-15.587 6.15-6.446 0-11.675-2.05-15.7-6.15-4.03-4.096-6.038-9.292-6.038-15.588 0-6.291 2.05-11.45 6.146-15.479 4.1-4.025 9.296-6.037 15.592-6.037 6.291 0 11.487 2.012 15.587 6.037 4.096 4.03 6.15 9.188 6.15 15.48 0 6.295-2.054 11.491-6.15 15.587Zm-140.417 361.758v-117.525h92.171v25.688h-59.262v19.812h52.212v24.846h-52.212v21.492h61.446v25.687h-94.355Zm24.592-189.558h-41.558l-63.717-149.18h45.604l40.488 97.18 41.346-97.18h41.77l-63.933 149.18Zm-105.275-82.688v82.688h-42.196v-32.9h-56.475v32.9h-41.558v-82.688c0-22.162 6.15-39.283 18.433-51.358 12.292-12.08 29.517-18.117 51.68-18.117 22.166 0 39.391 6.038 51.679 18.117 12.291 12.075 18.437 29.196 18.437 51.358Zm-42.196 19.859v-18.58c0-23.87-9.45-35.804-28.346-35.804-18.754 0-28.129 11.934-28.129 35.805v18.579h56.475Zm-91.612 140.404c9.908-5.262 21.07-7.892 33.495-7.892 12.425 0 23.588 2.63 33.492 7.892 9.909 5.263 17.684 12.533 23.338 21.825 5.65 9.292 8.479 19.754 8.479 31.396s-2.83 22.104-8.48 31.396c-5.653 9.291-13.428 16.562-23.337 21.825-9.904 5.262-21.067 7.891-33.492 7.891-12.425 0-23.587-2.629-33.495-7.891-9.905-5.263-17.684-12.534-23.338-21.825-5.65-9.292-8.475-19.754-8.475-31.396s2.825-22.104 8.475-31.396c5.654-9.292 13.433-16.562 23.338-21.825Zm1.762 53.22c0 6.605 1.4 12.45 4.2 17.543 2.796 5.095 6.6 9.041 11.417 11.837 4.808 2.8 10.183 4.196 16.116 4.196 5.93 0 11.305-1.396 16.117-4.196 4.813-2.796 8.617-6.742 11.417-11.837 2.796-5.092 4.196-10.938 4.196-17.542 0-6.604-1.4-12.45-4.196-17.546-2.8-5.092-6.604-9.037-11.417-11.837-4.812-2.796-10.187-4.196-16.117-4.196-5.933 0-11.308 1.4-16.116 4.196-4.817 2.8-8.621 6.745-11.417 11.837-2.8 5.096-4.2 10.942-4.2 17.546ZM847.774 820.75v115.721h-42.196V820.75h-45.82v-33.458h133.62v33.458h-45.604Zm-44.03 187.754v48.859l45.5-48.859h36.6l-48.016 52.046 50.534 65.48h-38.613l-33.58-42.646-12.424 13.262v29.383H770.84v-117.525h32.904Zm256.068 0v91.163h56.075v26.362h-89.317v-117.525h33.242Zm215.092-221.212v149.175h-42.196V787.292h42.196Zm-.196 221.212v48.859l45.496-48.859h36.6l-48.013 52.046 50.533 65.48h-38.616l-33.575-42.646-12.425 13.262v29.383h-32.909v-117.525h32.909Zm82.6 106.946 10.912-24.512c5.263 3.47 11.363 6.27 18.3 8.396 6.942 2.125 13.771 3.191 20.484 3.191 12.762 0 19.141-3.191 19.141-9.57 0-3.359-1.82-5.85-5.458-7.471-3.637-1.621-9.483-3.33-17.546-5.121-8.842-1.904-16.229-3.946-22.158-6.13-5.934-2.183-11.025-5.679-15.28-10.491-4.254-4.813-6.379-11.304-6.379-19.475 0-7.163 1.959-13.63 5.875-19.392 3.917-5.766 9.767-10.325 17.546-13.683 7.775-3.358 17.317-5.038 28.625-5.038 7.721 0 15.334.867 22.834 2.605 7.496 1.733 14.1 4.279 19.808 7.637l-10.242 24.68c-11.191-6.047-22.05-9.067-32.566-9.067-6.609 0-11.417.983-14.442 2.937-3.02 1.963-4.533 4.508-4.533 7.642 0 3.133 1.791 5.483 5.375 7.05 3.579 1.57 9.341 3.191 17.291 4.866 8.955 1.909 16.371 3.946 22.246 6.13 5.875 2.183 10.967 5.654 15.28 10.408 4.304 4.758 6.462 11.225 6.462 19.392 0 7.054-1.958 13.433-5.875 19.141-3.921 5.709-9.796 10.271-17.63 13.684-7.837 3.412-17.35 5.12-28.541 5.12-9.517 0-18.75-1.175-27.7-3.525-8.958-2.354-16.233-5.483-21.83-9.404ZM1478.5 965.892c3.225-3.171 7.32-4.759 12.279-4.759 4.958 0 9.054 1.588 12.283 4.759 3.225 3.175 4.842 7.237 4.842 12.196 0 4.958-1.617 9.054-4.842 12.279-3.23 3.233-7.325 4.846-12.283 4.846-5.075 0-9.196-1.613-12.367-4.846-3.175-3.225-4.758-7.321-4.758-12.28 0-4.958 1.616-9.02 4.846-12.195Zm28.9 42.612v117.525h-33.242v-117.525h33.242Zm43.65 0 27.87 46.675 27.871-46.675h32.234l-44.996 75.384v42.141h-33.242v-42.645l-44.825-74.88h35.088Zm260.733 0 51.88 62.625v-62.625h32.57v117.525h-27.366l-51.88-62.625v62.625h-32.57v-117.525h27.366ZM900.207 389.191l181.038 230.242H903.853l-180.87-230.242 180.87-230.241h177.392L900.207 389.19Zm-389.675 736.872V559.97H200.057V389.19h481.071v736.872H510.532Z"/></svg>');
  width: 200px;
  height: 115px;
  z-index: 10000;
  margin-right: 12em;
  margin-left: 20px;
  margin-top: 20px;
  z-index: 10000;
  position: relative;
  background-color: var(--fill);
  transition: all .5s;
}
.darkmode #logo {
  background-color: var(--bg);
}
#logo span {
  display: none;
}

#logo b {
  border: 2px solid;
  padding: 1em;
}

#logo:hover b {
  background-color: var(--fill);
  color: var(--bg);
}

#mobileInterface #logo {
  left: 1em;
  top: 1em;
  height: 7em;
  /* your image height */
  width: 7em;
  background: url(../assets/tk_logo.svg) 0 0 no-repeat;
}

nav {/*
  text-align: center;
  line-height: 6em;*/
    margin-top: 2em;
}

nav a, #readmore {
  background-color: var(--bg);
  color: var(--fill);
  padding: 0.5em;
  transition: all 0.25s;
  line-height: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  
}
#readmore {
  background: url(../assets/arrow_w.svg) 0 0 no-repeat;
  position: absolute;
  bottom: 2rem;
  left: 31vw;
  width: 3rem;
  height: 3rem;
  transform:rotate(180deg);
  border-radius: 2.5em;
}
#readmore.up{
  transform:rotate(0deg)

}
nav a:hover, #readmore:hover {
  background-color: #000;
  color: #efefef;
  text-decoration: none;
}
#secondary-menu{margin-right: 22em;}
a{
  cursor: pointer;
}
main {
  padding-top:6em;
  width: 100vw;
  height: var(--main);
}

#vis_menu_container {
  float: right;
  margin-right: 8rem;
}

#galleryView {
  width: 100vw;
  height: var(--main);
  overflow: hidden;
  display: grid;
  grid-template-columns: 35vw 65vw;
}

#timelineView {
  width: 100vw;
  height: var(--main);
  overflow: hidden;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

#artworkDescription {
  grid-area: "preview";
  display: block;
  overflow-y: scroll;
  height: var(--main);
}

#imagesSupContainer {
  grid-area: "thumbs";
  height: var(--main);
  vertical-align: top;
  overflow: hidden;
  border-top:5px solid var(--bg);
  /*scroll-behavior: smooth;*/
}
.darkmode #imagesSupContainer{
  border-color:var(--dmbg )
}

#timelineSupContainer {
  grid-area: "thumbs";
  height: 90vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
}

.imgThumb.show {
  margin: 0 auto;
  display: block;
}

#imagesContainer {
  display: flex;
  flex-flow: wrap;
  height: var(--main);
  overflow-y: scroll;
  /*
  align-content: space-between;*/
  /*text-align: left;
  position: relative;*/
  padding: 5em;
  align-content: flex-start;
  /*counter-reset: items;
  margin-bottom: 20em;
  margin-top: 10em;
  height:200vh*/
}
#imagesArtContainer {
  display: flex;
  flex-flow: wrap;
  height: var(--main);
  overflow-y: scroll;
padding: 5em;
align-content: flex-start;
}
.notHigh {
  opacity: .4;
}
/*
#imagesContainer::before,
#imagesContainer::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}*/

#galleryView figure {
  display: inline-flex;
  height: 5em;
  width: auto;
  position: relative;
  overflow: hidden;
  margin: 0.15rem;
  padding: 0;
}

#galleryView .images25  figure { height:7em; }
#galleryView .images50 figure { height:5em; }
#galleryView .images100 figure { height:3em; }
/*.darkmode #galleryView figure {
  border: 1px solid var(--dmbg);
border: 1px solid var(--bg);
}*/
.groupS {
  width: 33%;
  padding:.5em;
  margin-bottom: 2em;
  position: relative;
  /*display: inline-block;
  */
  vertical-align: top;
}

/*
.groupS::before {
  counter-increment: items;
  content: counter(items);
}
.groupS:nth-child(3n+1) {
  order: 1;
}

.groupS:nth-child(3n+2) {
  order: 2;
}

.groupS:nth-child(3n) {
  order: 3;
}*/


#galleryView.galleryTags {
  grid-template-columns: 20vw 10vw 70vw;
}

#tags {
  height: 100vh;
  overflow-y: scroll;
}

#galleryView.galleryTags figure,
#galleryView .groupS figure,
#galleryView .groupA figure,
.galleryTags figure img,
#galleryView .groupA figure img,
#galleryView .groupS figure img {
  /*margin: 0;*/
  padding: 0;

  height: 2rem;
  width: 2em;
  object-fit: cover;
  object-position: 50% 50%;
}

#galleryView.galleryTags figure,
.galleryTags figure img {
  height: 1.3em;
  width: 1.3em;
}

.imageThumb.hide {
  scale: 0.15;
}

#tags h6 {
  font-weight: 400;
  transition: all 0.25s;
  cursor: pointer;
}

#tags h6:hover {
  font-weight: 800;
  font-size: var(--textsize);
}

.groupH h3,
.groupH h4 {
  display: inline-block;
  font-size: var(--textsize);
}

.groupH h4 {
  margin-right: .5em;
}

.groupH {
  display: flex;
  justify-content: space-between;
}

.groupA, .groupB {
  display: inline-block;
  vertical-align: top;
  margin: 0.25em;
  padding: .5em .5em 0;
}

#galleryView .groupA figure {
  height: 2em;
  width: 2em;
  margin: 0;
}

#galleryView .groupA figure img {
  height: 2em;
  width: 2em;
  object-fit: cover;
  object-position: 50% 50%;
  /*padding: 0.2em;*/
}

#galleryView .groupA:focus,
#galleryView .groupA:hover,
.selected {
  background-color: #ffcf47;
  color: var(--dmbg);
  transition: all 0.2s;
  /*
  */
}
#searchGallery{display: block;
  margin-top:3em;
  padding-top:3em;
border-top: 1px solid var(--bg);
}

.groupAH h3,
.groupAH h4 {
  display: inline-block;
  font-size: var(--textlabel);
  margin-left: 0.5em;
  font-weight: 600;
}
.groupA h4, .groupB h4 {
  font-size: .8em;
  font-weight: 400;
  }
/*.groupAH:hover{transform: scale(3.5);z-index: 1000;padding:0.25em}*/

.groupAH {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  /*background-color: #efefef;*/
}

.galleryGrouptype .g8 {
  width: 100%;
}
/*
.galleryGrouptype .g5,.galleryGrouptype .g9,.galleryGrouptype .g3,.galleryGrouptype .g2,.galleryGrouptype .g7 {
  width: 20%;
}
.galleryGrouptype .g1,.galleryGrouptype .g4,.galleryGrouptype .g6,.galleryGrouptype .g10{
  width: 25%;
}*/
.viewGroups #imagesContainer {
  text-align: left;
}

#timelineContainer {
  display: flex;
  width: auto;
}

/*#timelineView figure{height: 1em;width:1em;margin:0;border:0}*/
#timelineView figure img {
  height: 1em;
  width: 1em;
  object-fit: cover;
  object-position: 50% 50%;
}

#timelineView section {
  padding: 0.1em;
  border-left: 0.1em dotted #c8c8c8;
  align-items: center;
  max-height: 90vh;
}

#timelineView section>div {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  height: 85vh;
}

#timelineView h3 {
  font-size: 0.5em;
}

#timelineViewPage #artworkDescription {
  display: none;
}

.imgCon {
  height: 1em;
  width: 1em;
  margin: 0;
  border: 0;
}

#imagesContainer:hover figure,
#imagesContainer.hover figure {
  filter: opacity(50%);
}

.imageThumb {
  scale: 1;
  box-sizing: content-box;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

.imgThumb {
  display: none;
}

figure:hover,
#imagesContainer.hover figure.hover,
.highlight {
  filter: opacity(100%) !important;
  scale: 1.5;
  border: 2px solid var(--bg);
  z-index: 1000;
  margin: 0 2em;
}

#imagesContainer.hover figure.hover img {
  scale: 2.5;
}

.simplegalleryView #imagesContainer.hover figure.hover,
.simplegalleryView figure:hover,
.simplegalleryView#imagesContainer.hover figure.hover img {
  scale: 1.25 !important
}


.label {
  padding: 0 2em 5em;
  font-size: var(--textlabel);
}

/*
.label h5 {
  text-transform: capitalize;
  display: inline-block;
  margin: 0.5rem 0;
}*/
/*
.label p {
  font-size: 1em;
  margin: 0.5rem 0;
}*/

.imageThumb:hover,
figure.hover .imageThumb  {
  scale: 1.3;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--dmbg);
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dmbg);
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--fill);
}

.darkmode ::-webkit-scrollbar-track {
  background-color: var(--lightyellow);
}

.darkmode ::-webkit-scrollbar-thumb {
  background-color: var(--lightyellow);
}

.darkmode ::-webkit-scrollbar-thumb:hover {
  background-color: var(--dmtext);
}

/*-------------------------------------------------*/

#dbloader {
  position: absolute;
  width: 100vw;
  height: 95vh;
  top: 5vh;
  left: 0;
  z-index: 10000;
  background-color: var(--bg);
  text-align: center;
}

#dbloader>h2 {
  padding-top: 100px;
}

#loading {
  margin-top: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: var(--main);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

#header.show {
  transition: all 0.25s;

  font-size: 0 !important;
}

/*------------------ CAROUSEL :: https://css-tricks.com/css-only-carousel/ ---------------*/
.imgslider {
  text-align: center;
  overflow: hidden;
  margin-top: 5em;
}

.slides {
  width: 100%;
  height: 70vh;
  padding: 2em;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides>div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  box-sizing: border-box;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info a {
  color: white;
}

.imgslider img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imgslider>a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.imgslider>a:active {
  top: 1px;
}

.imgslider>a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .imgslider>a {
    display: none;
  }

  ;
}

.slidecontainer {
  width: 30vw;
  /* Width of the outside container */
}

/*-------------------------------------------------------------*/
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #000000;
  border-radius: 0.5rem;
  height: 1px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -23.5px;
  /* Centers thumb on the track */
  background-color: #000000;
  border-radius: 2rem;
  height: 3rem;
  width: 3rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #000000;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #000000;
  border-radius: 0.5rem;
  height: 1px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #000000;
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 2rem;
  height: 3rem;
  width: 3rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #000000;
  outline-offset: 0.125rem;
}

.lang {
  display: inline-block;
  text-align: left;
}

.lang a {
  color: black;
  height: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.lang__list,
.lang__option {
  margin: 0;
  padding: 0;
  display: inline;
}
#modeButton, #lang-toggle {
  height:2.5rem;
  width:2.5rem;
  padding: .5rem;
  display: inline-block;
  transition: all .5s;
}
#modeButton svg path, #lang-toggle svg path {
  fill: #000;
  transition: all .5s;
}
#modeButton:hover svg path, #lang-toggle:hover svg path {
  fill: #fff;
}
.lang {
  border: 0;
  width: 4rem;
  position: relative;
}

.lang__list,
.lang__option {
  display: block;
}
.lang__option {
  padding: 0 0.5rem;
}


.lang__list {
  display: none;
  list-style-type: none;
}

.is-open {
  border-bottom: none;
}

.is-open .lang__list {
  border: solid 1px;
  display: block;
  position: absolute;
  left: -1px;
  width: 100%;
}

.is-open .lang__chevron {
  transform: rotate(270deg);
}

h1,h2 {
  font-family: "Alegreya", serif;
  font-size: 3.25em;
  line-height: 1.05em;
  font-weight: 500;
}

time[aria-label="Date"]{
  display: block;
}
#objectData {
  font: 0.9em/1.4em "NotoMono", monospace;
  letter-spacing: 0.01em;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  width: 100%;
  padding:2em;
  margin:10em 0 5em;
  border-radius: .75em;
}
#objectData dl {
  display: flex;
  flex-wrap: wrap;
  margin:1em 1em 5em;
  width: 100%;
  line-height: 2.5em;

}
#objectData h4 {
  margin-left: calc(33% + .9em);
  font-variant: all-small-caps;
}
#objectData dt {
  width: 33%;
  opacity: 0.6;
  font-variant: all-small-caps;
  text-align: right;
  font-size: .9em;
}
#objectData dd {
  margin-left: auto;
  width: 66%;
}

.soloView {grid-template-columns: 100vw 0;}
.soloArtwork {grid-template-columns: 0 100vw;}

#alphabetNav{
  width: 2em;
  position: fixed;
  left: 35%;
  top: 6em;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#alphabetNav a{
  font: 1.1em/2em "NotoMono", monospace;
  display: inline-block;
  width:2em;
  height:2em;
  color: var(--text);
  text-decoration: none;
  border-radius: 1.5em;
  vertical-align: middle;
  text-align: center;
  margin-top: .25em;
  transition: all .25s;
  cursor: pointer;
}
#alphabetNav a:hover{
background-color: var(--fill);
color: var(--bg);
}

#about {
  display: grid;
  grid-template-columns: 65vw 35vw;
  overflow-x:hidden;
  overflow-y:auto;
}
#about section{padding:5em 7.5em;vertical-align: top;}
#about p,#about h3{font-size: 1.6em;margin-top:0.5em;line-height: 1.5em;max-width: 65em;}
#about h1,#about h3,#about h2{margin-top:3em}
#about blockquote{  font-family: "Alegreya", serif;font-size: 1.4em;
  font-style: italic;
  margin-top: 13.85rem; color:var(--oneocolor);
}
#about img{max-width:99.9%; display: inline-block; }
#about .bookCard{display:grid;grid-template-columns: 30% 65%;grid-gap: 2em; background-color:#fff; padding:4em 3em; margin:2em .5em 2em; font-size: .8em;border-radius: .5em;}
#about .bookCard>div{vertical-align: top;}
#about .bookCard h3{margin:0}

#searchbox{
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); 
}
.overlay {
  font-size: 2rem;
  line-height: 2em;
}
.searchbox-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  /*margin-top: 30px;*/
  margin: auto;
}
.searchbox-content img{height: 3.65rem}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 2em;
  right: 3em;
  font-size: 2em;
  cursor: pointer;
  color: white;
}

#searchTitle {
  margin-left:35vw;
  width:65vw;
  text-align: center;
  /*height: 0;*/
  text-transform: uppercase;
}


#searchTitle h1{
  display: inline;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 1.5em;
  font-size: 2rem;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  padding: 2em;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}
.darkmode #about .bookCard{background-color:#000;}
.darkmode #objectData{background-color:var(--bg_two);}

  #briefHistory{font-size:.8em;margin-left:50em;max-width: 80em;}
#books{font-size:.8em;padding-right:10em}
main#splashscreen{
  background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 3rem;
    justify-content: space-between;
}
#pageLinks{margin-left:50em}
#splashscreen>blockquote a,#pageLinks a{
  font-family: "Alegreya", serif;
  font-size:4em;
  font-style:italic;
  color:var(--oneocolor);
  max-width: 10em;
  display: inline-flex;
  text-decoration: none;
  line-height: 1.1em;
  transition: all 1s;
  padding:1rem;
}
#splashscreen>blockquote a:hover{
  background-color: var(--bg);
  color: var(--oneocolorbright);
}

footer{
  font-size:.8em;
  color:var(--bg);
  position: fixed;
  bottom:0;
  width:100vw;
}
footer dl{
  display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding:.5em;
}
footer dl dt{
  margin-left:8em;
  margin-right:1em;
  opacity: .7;
}

#shownwork a{
  color:inherit;
  text-decoration: none;
}

span[aria-label="Nationality"] {
  font-variant: all-small-caps;
}

time {
  font-variant-numeric: oldstyle-nums;
}
.mobileStop {
  padding:1em;
}
.mobileStop #logo{
  display: block;
  margin-bottom: 3em;
}
.exhall .groupS{
  width:100%;
}
.exhall .g2,.exhall .g5{
  width:50%;
}

.exhall .g0{
  display: none;
}