<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/lib/smoothscroll.min.js"></script>
  </head>

  <script>
    let lang="en";
    smoothScroll.defaults({duration: 200}); 
    const settings = { 
      exhibitionMode: false, 
      editing: true, 
      editProp: false, 
      verbose: true, 
      collection1: "works",
      imageField: "id", 
      imagePath: "{{assets}}", 
      imageArray: false, 
      imageSelector: false, 
      }; 
    const tags ={
      birthplace: {
 1:{tr:"Almanya",en:"Germany"},
2:{tr:"Amerika",en:"USA"},
3:{tr:"Arjantin",en:"Argentina"},
4:{tr:"Avusturalya",en:"Australia"},
5:{tr:"Avusturya",en:"Austria"},
6:{tr:"Bangladeş",en:"Bangladesh"},
7:{tr:"Belarus",en:"Belarus"},
8:{tr:"Belçika",en:"Belgium"},
9:{tr:"Bilinmiyor",en:"Unknown"},
10:{tr:"Bulgaristan",en:"Bulgaria"},
11:{tr:"Çin",en:"China"},
12:{tr:"Danimarka",en:"Denmark"},
13:{tr:"Fas",en:"Egypt"},
14:{tr:"Fransa",en:"France"},
15:{tr:"Galler",en:"Wales"},
16:{tr:"Güney Kore",en:"South Korea"},
17:{tr:"Hırvatistan",en:"Croatia"},
18:{tr:"Hollanda",en:"Netherlands"},
19:{tr:"İngiltere",en:"England"},
20:{tr:"İran",en:"Iran"},
21:{tr:"İrlanda",en:"Ireland"},
22:{tr:"İspanya",en:"Spain"},
23:{tr:"İspanyol",en:"Spain"},
24:{tr:"İsveç",en:"Sweden"},
25:{tr:"İsviçre",en:"Switzerland"},
26:{tr:"İtalya",en:"Italy"},
27:{tr:"Japonya",en:"Japan"},
28:{tr:"Kanada",en:"Canada"},
29:{tr:"Karadağ",en:"Montenegro"},
30:{tr:"Kore",en:"Korea"},
31:{tr:"Küba",en:"Cuba"},
32:{tr:"Lübnan ",en:"Lebanon"},
33:{tr:"Macaristan",en:"Hungary"},
34:{tr:"Makedonya",en:"North Macedonia"},
35:{tr:"Malta",en:"Malta"},
36:{tr:"Meksika",en:"Mexico"},
37:{tr:"Nahçıvan",en:"Nakhchivan "},
38:{tr:"Nıkaragua",en:"Nicaragua"},
39:{tr:"Peru",en:"Peru"},
40:{tr:"Polonya",en:"Poland"},
41:{tr:"Portekiz",en:"Porugal"},
42:{tr:"Romanya",en:"Romania"},
43:{tr:"Rusya",en:"Russia"},
44:{tr:"Slovenya",en:"Slovenia"},
45:{tr:"Tayvan",en:"Taiwan"},
46:{tr:"Trablusgarb",en:"Ottoman Tripolitania"},
47:{tr:"Türkiye",en:"Türkiye"},
48:{tr:"Ukrayna",en:"Ukraine"},
49:{tr:"Yunanistan",en:"Greece"},
},
type: {
1:{en:"Print",tr:"Baskı"},
2:{en:"Drawing",tr:"Çizim"},
3:{en:"Digital Art",tr:"Dijital Sanat"},
4:{en:"Photograph",tr:"Fotoğraf"},
5:{en:"Calligraphy",tr:"Hat Ve Kaligrafi"},
6:{en:"Sculpture",tr:"Heykel"},
7:{en:"Mixed Media",tr:"Karışık Teknik"},
8:{en:"Painting",tr:"Resim"},
9:{en:"Video",tr:"Video"},
10:{en:"Installation",tr:"Yerleştirme"},
},
extheme: {
1:{en:"Nature",tr:"Doğa"},
2:{en:"Figures",tr:"Figür"},
3:{en:"Cities",tr:"Kent"},
4:{en:"Abstract",tr:"Soyut"},
    },
exhall: {
0:{en:"",tr:""},
1:{en:"Feshane",tr:"Feshane"},
2:{en:"Gazhane",tr:"Gazhane"},
3:{en:"Haliç Tersane",tr:"Haliç Tersane"},
4:{en:"İrhm Gss",tr:"İrhm Gss"},
5:{en:"İş Bankası",tr:"İş Bankası"},
6:{en:"Likör Fb.",tr:"Likör Fb."},
    },
period: {
1:{en:"1972-1982",tr:"1972-1982"},
2:{en:"1983-1992",tr:"1983-1992"},
3:{en:"1993-2002",tr:"1993-2002"},
4:{en:"2003-2012",tr:"2003-2012"},
5:{en:"2013-2024",tr:"2013-2024"}
}
};
    /*const dbKeys = { 
      works: [ {
        "id": "id", 
      "name": "id", 
      "type": "id",
   "display": false, 
  "editable": false
           }, {
        "id": "artist_id",
      "name": "artist_id", 
      "type": "text", 
   "display": true, 
  "editable": false
           }, {
        "id": "title",
      "name": "title",
      "type": "text",
   "display": true, 
  "editable": false
           }, {
        "id": "date",
      "name": "date",
      "type": "date",
   "display": true,
  "editable": false
           }, {
        "id": "caption",
      "name": "caption",
      "type": "text",
   "display": true,
  "editable": false
           } ],
    artists: [ {
        "id": "id",
      "name": "id",
      "type": "id",
   "display": true
           }, {
        "id": "name",
      "name": "name",
      "type": "text",
   "display": true
           }, {
        "id": "birthplace",
      "name": "birthplace",
      "type": "date",
   "display": true
           }, {
        "id": "birthyear",
      "name": "birthyear",
      "type": "date",
   "display": true
           }, {
        "id": "deathyear",
      "name": "deathyear",
      "type": "date",
   "display": true
          } ] };*/
  </script>
  <body class="darkmode {{{bodyClass}}}">
    <header>
      <a id="logo" href="https://taviloglukoleksiyon.org/tk/">
        <span>Taviloğlu Koleksiyonu</span>
      </a>
      <nav id="primary-menu">
        <a href="https://taviloglukoleksiyon.org/tk/">About the Collection</a>
        |
        <a href="/gallery">Gallery</a>
        <a href="/gallery/artists">Artists</a>
        <a href="/gallery/type">Type</a>
        |
        <a onclick="opensearch()" class="searchButton">Search</a>
        <!--<a href="/timeline">Timeline</a>
        <a href="/groups/technique">Technique</a>
        <a href="/gallery/material">Material</a>
        <a href="/gallery/theme">Theme</a>-->
      </nav>
      <nav id="secondary-menu">
        <a id="modeButton" onclick="darkmode()">light mode</a>
        <div class="lang">
          <a href="#" id="lang-toggle" class="lang__option lang__option--current">en<span class="lang__chevron">›</span></a>
          <ul class="lang__list">
            <li><a href="#" class="lang__option">tr</a></li>
          </ul>
        </div>
        <!-- <a href="/login">login</a> -->
      </nav>

    </header>
    {{{body}}}
    <div id="searchbox" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Searchbox">x</span>
  <div class="searchbox-content">
       <form>
      <input type="text" placeholder="Search..." name="search">
      <button type="submit"></button>
    </form>
    </div>
    </div>


<footer>
<dl>
  <dt>Last Update</dt> 
<dd>16.08.2024</dd>

<dt>Copyright © 2024</dt> 
<dd>All rights reserved.</dd>

<dt>DIGITAL COLLECTION</dt>
<dd>powered by Grouper</dd>
</dl>
</footer>


<script>
function darkmode() {
  //var element = document.body;
  document.body.classList.toggle("darkmode");
  const modeButton=document.querySelector("#modeButton");
  if(document.body.classList.contains("darkmode"))
    modeButton.innerHTML="light mode";
    else
    modeButton.innerHTML="dark mode";
}


document.getElementById('lang-toggle').addEventListener('click', function(e){
  e.preventDefault();
  //console.log(this.parentNode)
  this.parentNode.classList.toggle('is-open');
});

function navToggle(){
  var element = document.getElementsByTagName("nav");
  element[0].classList.toggle("menu");
}
  
</script>

  </body>
</html>