<html lang="tr">
    <head>
        <meta charset="UTF-8">

        <set var="device.fullscreensupport" val="true" devices="ipad" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/lib/lodash.min.js"></script>
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/jquery.knob.js"></script>
    </head>
  <body id="mobileInterface">
    <header>
    <a id="logo" href="#">
      <span>Taviloğlu Koleksiyonu</span>
    </a>
    </header>
        {{{ body }}}

</html>